#movieWrap .infoWrap .programInfo .infoText .favButton {
    margin-bottom: 10px;
}

#movieWrap .infoWrap .programInfo .infoText .favButton button {
    border: 0;
    background-color: white;
    border-radius: 15px;
    color: rgb(40, 170, 50);
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

#movieWrap .infoWrap .programInfo .infoText .favButton button:hover {
    background-color: rgb(12, 206, 30);
    color: white;
}

#movieWrap .infoWrap .programInfo .officialLink {
    top: initial !important;
    bottom: -28px;
}

#movieWrap .infoWrap .programInfo .infoText .parsonarity .txt .castName {
    cursor: pointer;
    text-decoration: underline;
}

#movieWrap .infoWrap .programInfo .infoText .parsonarity .txt .castName:before {
    content: '☆';
}
#movieWrap .infoWrap .programInfo .infoText .parsonarity .txt .castName.isFavorited:before {
    content: '★';
}

#movieWrap .infoWrap .programInfo .infoText .parsonarity .txt .castName:hover {
    cursor: pointer;
    text-decoration: none;
}

#movieList.thumbnail .listWrap ul li {
    height: 234px;
}

#movieList.thumbnail .listWrap ul li .fav {
    position: absolute;
    bottom: 28px;
    border-top: solid 1px #b8b8b8;
    width: 100%;
    height: 24px;
    text-align: center;
}

#movieList.thumbnail .listWrap ul li .fav.isFavorited {
    background-color: rgb(12, 198, 29);
}

#movieList.thumbnail .listWrap ul li .fav .itemListFavButton{
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(12, 198, 29);
}

#movieList.thumbnail .listWrap ul li .fav.isFavorited .itemListFavButton {
    color: #fff;
}

#movieList.thumbnail .listWrap ul li .fav .itemListFavButton:hover{
    color: rgb(12, 146, 23);
    cursor: pointer;
}

#movieList.thumbnail .listWrap ul li .fav.isFavorited:hover{
    background-color: rgb(12, 146, 23);
}

#movieList.thumbnail .listWrap ul li .fav.isFavorited .itemListFavButton:hover{
    color: #fff;
}

/* itemList personality favorite*/
#movieList.thumbnail .listWrap ul li .navigator span .itemListCastName {
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}

#movieList.thumbnail .listWrap ul li .navigator span .itemListCastName:before {
    content: '☆';
}
#movieList.thumbnail .listWrap ul li .navigator span .itemListCastName.isFavorited:before {
    content: '★';
}

#movieList.thumbnail .listWrap ul li .navigator span .itemListCastName:hover {
    text-decoration: none;
}

#movieList.thumbnail .listWrap ul li .listenedLabel {
    display: none;
    width: 37px;
    height: 22px;
    position: absolute;
    left: 3px;
    top: 107px;
}

#movieList.thumbnail .listWrap ul li .listenedLabel .listenedLabelText {
    font-size: 10px;
    color: white;
    background-color: #00f;
    text-align: center;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    padding: 0 1px;
}

#movieList.thumbnail .listWrap ul li.listened .listenedLabel {
    display: block;
}

#movieList.thumbnail .listWrap ul li.listened .iconNew {
    display: none;
}

#movieList.thumbnail .listWrap ul li.listened .update {
    left: 44px;
}